<div class="example-label-container"> 
    <mat-card style="width: auto; border: 10cm red;">
      <mat-card-title style="background-color: blueviolet; font-size: large;">
        <h2 class="example-h2">{{titulo}}</h2>
      </mat-card-title>
        <mat-card-content style="background-color: pink; font-size: medium;">
            <mat-form-field class="example-margin example-width" appearance="fill">
              <label>1° Numero: </label>
              <input matInput type="number" [(ngModel)]="operandoA" >
            </mat-form-field>
            <mat-form-field class="example-margin example-width" appearance="fill">
                <label>2° Numero:</label>
                <input matInput type="number" [(ngModel)]="operandoB" >
              </mat-form-field>
              <mat-form-field class="example-margin example-width" appearance="fill">
                <button mat-raised-button  (click)="onSumar()">Resolver</button>
              </mat-form-field>
        </mat-card-content>
    </mat-card>
  </div> 
  <div class="example-label-container" *ngIf="showLabel">
  <mat-card>
    <mat-card-title style="background-color: brown; font-size: large;">
      <h2 class="example-h2">{{result}}</h2>
    </mat-card-title>
    <mat-card-content style="background-color: mediumslateblue; font-size: medium;">
        <label id="example-name-label" class="example-name-label">El valor de la suma es:    </label>
        <label class="example-value-label">{{resultado}}</label>
    </mat-card-content>
  </mat-card>   
  </div>